:root {
  /* colors */
  --black-main: #212121;
  --black-main-20opa: #21212133;

  --black: #000;
  --black-6opa: #0000000f;
  --black-10opa: #0000001a;
  --black-12opa: #0000001f;
  --black-14opa: #00000024;
  --black-15opa: #00000026;
  --black-16opa: #00000029;
  --black-20opa: #00000033;
  --black-25opa: #00000040;

  --white: #fff;
  --white-10opa: #ffffff1a;
  --white-30opa: #ffffff4d;

  --blue: #2196f3;
  --blue-90opa: #2196f3e6;

  --gray: #757575;
  --gray-light: #f5f4fa;
  --gray-tint: #eee;
  --gray-clients: #afb1b8;

  --background: #e5e5e5;

  --background-black: #2f303a;
  --background-black-40opa: #2f303a66;
  --background-black-80opa: #2f303acc;

  /* px variables */
  --header-height: 80px;
  --container-width: 1200px;
}